
.input{
    width: 27px;
    line-height: normal;
}



img{
    max-width:fit-content 100px;
    height: 300px;
}

body{
    background-color: rgb(136, 195, 235);
    background-image: ;
}
ul{
color: rgb(173, 11, 5);
}
h3{
    background-color: aquamarine;
}
h2{
    background-color: aqua;
}
